# MacOS
.DS_Store

# Python
__pycache__/
*.pyc
venv/
*.log

# Node
node_modules/
frontend/dist/

# Outros
backend_server.log
frontend_server.log

backend/.env
frontend/.env
garimpo/.env
.env
venv/
node_modules/
backend_server.log
frontend_server.log
